In [1]:
d = {(i, j): i+j for i in range(1,7) for j in range(1,7)}

In [2]:
d

{(1, 1): 2,
 (1, 2): 3,
 (1, 3): 4,
 (1, 4): 5,
 (1, 5): 6,
 (1, 6): 7,
 (2, 1): 3,
 (2, 2): 4,
 (2, 3): 5,
 (2, 4): 6,
 (2, 5): 7,
 (2, 6): 8,
 (3, 1): 4,
 (3, 2): 5,
 (3, 3): 6,
 (3, 4): 7,
 (3, 5): 8,
 (3, 6): 9,
 (4, 1): 5,
 (4, 2): 6,
 (4, 3): 7,
 (4, 4): 8,
 (4, 5): 9,
 (4, 6): 10,
 (5, 1): 6,
 (5, 2): 7,
 (5, 3): 8,
 (5, 4): 9,
 (5, 5): 10,
 (5, 6): 11,
 (6, 1): 7,
 (6, 2): 8,
 (6, 3): 9,
 (6, 4): 10,
 (6, 5): 11,
 (6, 6): 12}

In [4]:
from collections import defaultdict
dinv = defaultdict(list)
for i, j in d.items():
    dinv[j].append(i)

In [6]:
dinv[5]

[(1, 4), (2, 3), (3, 2), (4, 1)]

In [7]:
dinv

defaultdict(list,
            {2: [(1, 1)],
             3: [(1, 2), (2, 1)],
             4: [(1, 3), (2, 2), (3, 1)],
             5: [(1, 4), (2, 3), (3, 2), (4, 1)],
             6: [(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)],
             7: [(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)],
             8: [(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)],
             9: [(3, 6), (4, 5), (5, 4), (6, 3)],
             10: [(4, 6), (5, 5), (6, 4)],
             11: [(5, 6), (6, 5)],
             12: [(6, 6)],
             0: []})

In [8]:
X ={i:len(j)/36. for i, j in dinv.items()}

In [9]:
X

{2: 0.027777777777777776,
 3: 0.05555555555555555,
 4: 0.08333333333333333,
 5: 0.1111111111111111,
 6: 0.1388888888888889,
 7: 0.16666666666666666,
 8: 0.1388888888888889,
 9: 0.1111111111111111,
 10: 0.08333333333333333,
 11: 0.05555555555555555,
 12: 0.027777777777777776,
 0: 0.0}

In [10]:
df = {(i, j, k):((i*j*k)/2>i+j+k) for i in range(1,7)
                                     for j in range(1,7)
                                         for k in range(1,7)}

In [11]:
df

{(1, 1, 1): False,
 (1, 1, 2): False,
 (1, 1, 3): False,
 (1, 1, 4): False,
 (1, 1, 5): False,
 (1, 1, 6): False,
 (1, 2, 1): False,
 (1, 2, 2): False,
 (1, 2, 3): False,
 (1, 2, 4): False,
 (1, 2, 5): False,
 (1, 2, 6): False,
 (1, 3, 1): False,
 (1, 3, 2): False,
 (1, 3, 3): False,
 (1, 3, 4): False,
 (1, 3, 5): False,
 (1, 3, 6): False,
 (1, 4, 1): False,
 (1, 4, 2): False,
 (1, 4, 3): False,
 (1, 4, 4): False,
 (1, 4, 5): False,
 (1, 4, 6): True,
 (1, 5, 1): False,
 (1, 5, 2): False,
 (1, 5, 3): False,
 (1, 5, 4): False,
 (1, 5, 5): True,
 (1, 5, 6): True,
 (1, 6, 1): False,
 (1, 6, 2): False,
 (1, 6, 3): False,
 (1, 6, 4): True,
 (1, 6, 5): True,
 (1, 6, 6): True,
 (2, 1, 1): False,
 (2, 1, 2): False,
 (2, 1, 3): False,
 (2, 1, 4): False,
 (2, 1, 5): False,
 (2, 1, 6): False,
 (2, 2, 1): False,
 (2, 2, 2): False,
 (2, 2, 3): False,
 (2, 2, 4): False,
 (2, 2, 5): True,
 (2, 2, 6): True,
 (2, 3, 1): False,
 (2, 3, 2): False,
 (2, 3, 3): True,
 (2, 3, 4): True,
 (2, 3, 5): True,
 (2, 3, 6): True,
 (2, 4, 1): False,
 (2, 4, 2): False,
 (2, 4, 3): True,
 (2, 4, 4): True,
 (2, 4, 5): True,
 (2, 4, 6): True,
 (2, 5, 1): False,
 (2, 5, 2): True,
 (2, 5, 3): True,
 (2, 5, 4): True,
 (2, 5, 5): True,
 (2, 5, 6): True,
 (2, 6, 1): False,
 (2, 6, 2): True,
 (2, 6, 3): True,
 (2, 6, 4): True,
 (2, 6, 5): True,
 (2, 6, 6): True,
 (3, 1, 1): False,
 (3, 1, 2): False,
 (3, 1, 3): False,
 (3, 1, 4): False,
 (3, 1, 5): False,
 (3, 1, 6): False,
 (3, 2, 1): False,
 (3, 2, 2): False,
 (3, 2, 3): True,
 (3, 2, 4): True,
 (3, 2, 5): True,
 (3, 2, 6): True,
 (3, 3, 1): False,
 (3, 3, 2): True,
 (3, 3, 3): True,
 (3, 3, 4): True,
 (3, 3, 5): True,
 (3, 3, 6): True,
 (3, 4, 1): False,
 (3, 4, 2): True,
 (3, 4, 3): True,
 (3, 4, 4): True,
 (3, 4, 5): True,
 (3, 4, 6): True,
 (3, 5, 1): False,
 (3, 5, 2): True,
 (3, 5, 3): True,
 (3, 5, 4): True,
 (3, 5, 5): True,
 (3, 5, 6): True,
 (3, 6, 1): False,
 (3, 6, 2): True,
 (3, 6, 3): True,
 (3, 6, 4): True,
 (3, 6, 5): True,
 (3, 6, 6): True,
 (4, 1, 1): False,
 (4, 1, 2): False,
 (4, 1, 3): False,
 (4, 1, 4): False,
 (4, 1, 5): False,
 (4, 1, 6): True,
 (4, 2, 1): False,
 (4, 2, 2): False,
 (4, 2, 3): True,
 (4, 2, 4): True,
 (4, 2, 5): True,
 (4, 2, 6): True,
 (4, 3, 1): False,
 (4, 3, 2): True,
 (4, 3, 3): True,
 (4, 3, 4): True,
 (4, 3, 5): True,
 (4, 3, 6): True,
 (4, 4, 1): False,
 (4, 4, 2): True,
 (4, 4, 3): True,
 (4, 4, 4): True,
 (4, 4, 5): True,
 (4, 4, 6): True,
 (4, 5, 1): False,
 (4, 5, 2): True,
 (4, 5, 3): True,
 (4, 5, 4): True,
 (4, 5, 5): True,
 (4, 5, 6): True,
 (4, 6, 1): True,
 (4, 6, 2): True,
 (4, 6, 3): True,
 (4, 6, 4): True,
 (4, 6, 5): True,
 (4, 6, 6): True,
 (5, 1, 1): False,
 (5, 1, 2): False,
 (5, 1, 3): False,
 (5, 1, 4): False,
 (5, 1, 5): True,
 (5, 1, 6): True,
 (5, 2, 1): False,
 (5, 2, 2): True,
 (5, 2, 3): True,
 (5, 2, 4): True,
 (5, 2, 5): True,
 (5, 2, 6): True,
 (5, 3, 1): False,
 (5, 3, 2): True,
 (5, 3, 3): True,
 (5, 3, 4): True,
 (5, 3, 5): True,
 (5, 3, 6): True,
 (5, 4, 1): False,
 (5, 4, 2): True,
 (5, 4, 3): True,
 (5, 4, 4): True,
 (5, 4, 5): True,
 (5, 4, 6): True,
 (5, 5, 1): True,
 (5, 5, 2): True,
 (5, 5, 3): True,
 (5, 5, 4): True,
 (5, 5, 5): True,
 (5, 5, 6): True,
 (5, 6, 1): True,
 (5, 6, 2): True,
 (5, 6, 3): True,
 (5, 6, 4): True,
 (5, 6, 5): True,
 (5, 6, 6): True,
 (6, 1, 1): False,
 (6, 1, 2): False,
 (6, 1, 3): False,
 (6, 1, 4): True,
 (6, 1, 5): True,
 (6, 1, 6): True,
 (6, 2, 1): False,
 (6, 2, 2): True,
 (6, 2, 3): True,
 (6, 2, 4): True,
 (6, 2, 5): True,
 (6, 2, 6): True,
 (6, 3, 1): False,
 (6, 3, 2): True,
 (6, 3, 3): True,
 (6, 3, 4): True,
 (6, 3, 5): True,
 (6, 3, 6): True,
 (6, 4, 1): True,
 (6, 4, 2): True,
 (6, 4, 3): True,
 (6, 4, 4): True,
 (6, 4, 5): True,
 (6, 4, 6): True,
 (6, 5, 1): True,
 (6, 5, 2): True,
 (6, 5, 3): True,
 (6, 5, 4): True,
 (6, 5, 5): True,
 (6, 5, 6): True,
 (6, 6, 1): True,
 (6, 6, 2): True,
 (6, 6, 3): True,
 (6, 6, 4): True,
 (6, 6, 5): True,
 (6, 6, 6): True}

In [12]:
from pandas import DataFrame

In [13]:
d = DataFrame(index=[(i, j) for i in range(1,7) for j in range(1,7)],
             columns=['sm', 'd1', 'd2', 'pd1', 'pd2', 'p'])

In [14]:
d.d1=[i[0] for i in d.index]
d.d2=[i[1] for i in d.index]

In [19]:
d['sm']=list(map(sum, d.index))

In [20]:
d

        sm  d1  d2  pd1  pd2    p
(1, 1)   2   1   1  NaN  NaN  NaN
(1, 2)   3   1   2  NaN  NaN  NaN
(1, 3)   4   1   3  NaN  NaN  NaN
(1, 4)   5   1   4  NaN  NaN  NaN
(1, 5)   6   1   5  NaN  NaN  NaN
(1, 6)   7   1   6  NaN  NaN  NaN
(2, 1)   3   2   1  NaN  NaN  NaN
(2, 2)   4   2   2  NaN  NaN  NaN
(2, 3)   5   2   3  NaN  NaN  NaN
(2, 4)   6   2   4  NaN  NaN  NaN
(2, 5)   7   2   5  NaN  NaN  NaN
(2, 6)   8   2   6  NaN  NaN  NaN
(3, 1)   4   3   1  NaN  NaN  NaN
(3, 2)   5   3   2  NaN  NaN  NaN
(3, 3)   6   3   3  NaN  NaN  NaN
(3, 4)   7   3   4  NaN  NaN  NaN
(3, 5)   8   3   5  NaN  NaN  NaN
(3, 6)   9   3   6  NaN  NaN  NaN
(4, 1)   5   4   1  NaN  NaN  NaN
(4, 2)   6   4   2  NaN  NaN  NaN
(4, 3)   7   4   3  NaN  NaN  NaN
(4, 4)   8   4   4  NaN  NaN  NaN
(4, 5)   9   4   5  NaN  NaN  NaN
(4, 6)  10   4   6  NaN  NaN  NaN
(5, 1)   6   5   1  NaN  NaN  NaN
(5, 2)   7   5   2  NaN  NaN  NaN
(5, 3)   8   5   3  NaN  NaN  NaN
(5, 4)   9   5   4  NaN  NaN  NaN
(5, 5)  10   5   5  NaN  NaN  NaN
(5, 6)  11   5   6  NaN  NaN  NaN
(6, 1)   7   6   1  NaN  NaN  NaN
(6, 2)   8   6   2  NaN  NaN  NaN
(6, 3)   9   6   3  NaN  NaN  NaN
(6, 4)  10   6   4  NaN  NaN  NaN
(6, 5)  11   6   5  NaN  NaN  NaN
(6, 6)  12   6   6  NaN  NaN  NaN